@model IEnumerable<MVPEmpresas.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Resumen</h1>

<p>
    <a asp-action="Create">Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                @if (item.isActive)
                {
                    <td>Activo</td>
                }
                else
                {
                    <td>Inactivo</td>
                }

            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
